$color__background-body: #fff;
$color__background-section1:#1c2130;
$color__background-section2:#cfe3e7;
$color__background-section3:#d9e1f6;
$color__background-screen: #f1f1f1;
$color__background-hr: #7cb1ae;
$color__background-button: #bf1313;
$color__background-button-hover: #000;
$color__background-comment: #bf1313;
$color__background-input:#ffffff;
$color__background-hover:#68456a;


$color__text-menu :#000;
$color__text-main: #757575;
$color__text-button: #ffffff;
$color__text-input: #757575;
$color__link-page: #bf1313;
$color__link-page-hover: #00c27b;
$color__text-title: #000;
$color__text-name:#d9e1f6;
$color__text-titlevideo:#000000;
$color__text-desc:#00c27b;
$color__text-subtitle: #7cb1ae;
$color__text-address:#bf1313;
$color__text-author: #bf1313;
$color__text-date: #bf1313;
$color__text-tab:#bf1313;
$color__text-boder:#d9e1f6;
$color__text-tab-hover:#00c27b;
$color__text-service:#bf1313;


$color___text-author:#bf1313;

$color__btn-slider:#bf1313;
$color__btn-slider-active:#000;


$color__border-button: #ffffff;
$color__border-input: #ccc;

